<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/3.4/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- favicon -->
        <link href="/static/favicon.ico" rel="icon">

        <title>Orsolingo: Home</title>
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Orsolingo</a>
    </div>
    <ul class="nav navbar-nav">
      {% if session.user_id %}
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/post">Post Blog</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
	  {% if session.user_id %}
      <li><a href="/logout"> Logout</a></li>
	  {% endif %}
    </ul>
  </div>
</nav>
<main class="container p-5">
{% if rows %}
{% for x in range(rows) %}
<div class="row">
  <div class="col"><strong>{{feed[x][2]}}</strong></div>
  <div class="col">Written by {{feed[x][3]}}</div>
  <div class="w-100"></div>
  <div class="col">Published on {{feed[x][4]}}</div>
  <div class="col">{{feed[x][5]}}</div>
  <div class="col"><a href="/blog/{{feed[x][1]}}" style="color: white;"><button type="button" class="btn btn-primary btn-lg btn-block">Read more</button></a></div>
</div>
{% endfor %}
{% endif %}
        </main>
        <footer class="small text-center text-muted">

            {% if session.user_id %}
            Want to change your password? Press <a href="/resetpass">here</a>
            {% endif %}
        </footer>
        </div>
    </body>
    </html>