<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/3.4/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- favicon -->
        <link href="/static/favicon.ico" rel="icon">

        <title>Orsolingo: Change Password</title>
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Orsolingo</a>
    </div>
    <ul class="nav navbar-nav">
      {% if session.user_id %}
      <li><a href="/">Home</a></li>
      <li><a href="/post">Post Blog</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
	  {% if session.user_id %}
      <li><a href="/logout"> Logout</a></li>
	  {% endif %}
    </ul>
  </div>
</nav>
<main class="container p-5">
{% if popup %}
<div class="alert alert-danger" role="alert">
  {{ popup }}
  </div>
  {% endif %}
  <form class="form-horizontal" action="/resetpass" method="POST">
  <div class="form-group">
    <label class="control-label col-sm-2" for="cpass">Current password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="cpass" name="cpass" placeholder="Enter your current password">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="npass1">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="npass1" name="npass1" placeholder="Enter new password">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="npass2">Re-enter password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="npass2" name="npass2" placeholder="Re-enter new password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
        </main>
        </div>
    </body>
    </html>